.header_logo{
    height: 80px;
}

.header_image{
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.basket_icon{
    width: 40px;
}

.basket_icon_filter{
    width: 24px;
    filter: invert();
}

.rating_star{
    width: 16px;
}

.plus_icon{
    height: 24px;
    width: 24px;
}

.plus_icon_calc{
    height: 16px;
    width: 16px;
} 

.x_icon{
    width: 20px;
}

.minus_icon_calc{
    width: 16px;
    height: 3px;
}

.bag_icon{
    height: 16px;
}

.delivery_icon{
    height: 24px;
}

.trash_icon{
    height: 20px;
    cursor: pointer;
}

.down_arrow_icon{
    width: 40px;
}

.x_icon_close{
    width: 32px;
}
