.main_section{
    display: flex;
    flex-direction: column;
    width: calc(100% - 350px);
    background-color: #FCFCFB;
}

.header_image_container{
    position: relative;
    width: 100%;
}

.pizzeria_logo{
    width: 125px;
    border-radius: 8px;
    position: absolute;
    bottom: 24px;
    left: 80px;
}

.restaurant_info{
    margin: 0px 80px;
    padding: 24px 0px;
    position: sticky;
    top: -1px;
    z-index: 10;
    background: inherit;
}

.restaurant_information{
    display: flex;
    align-items: center;
    gap: 8px;
}

.restaurant_info h1{
    margin-bottom: 8px;
}

.restaurant_information_row{
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu_categories{
    display: flex;
    font-weight: bold;
    font-size: 14px;
    padding: 0px 80px;
    position: sticky;
    top: 108px;
    z-index: 10;
    background: inherit;
    gap: 16px;
    padding-bottom: 24px;
}

.selected_menu_category{
    background-color: #262626;
    color: white;
    border-radius: 90px;
}

.menu_category_selection a{
    text-decoration: none;
    padding: 12px;
}

.menu_category_selection a:hover{
    background-color: #e0e0e0;
    border-radius: 90px;
}

.menu{
    margin: 0px 80px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 5;
    overflow: auto;
}

.is_sticky{
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.menu_header{
    margin-top: 40px;
    scroll-margin-top: 150px;
}

.dish_content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dish{
    position: relative;
    border-style: solid;
    border-color: #DBD9D7;
    border-width: 1px;
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dish:hover{
    background-color: #F5F5F4;
}

.add_button{
    position: absolute;
    top: 12px;
    right: 12px;
}

.dish span{
    font-weight: bold;
    font-size: 20px;
}

.basket_button_container{
    display: none;
    justify-content: center;
    align-items: center;
    position: sticky;
    padding: 0px 24px;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #FCFCFB;
    z-index: 10;
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.2);
}

.basket_button{
    position: relative;
    display: flex;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #F36705;
    font-size: 18px;
    font-weight: 500;
    border-radius: 90px;
    width: 400px;
    cursor: pointer;
}

.basket_button:hover{
    background-color: rgb(241, 93, 0);
}

.basket_button p{
    color: white;
}

.basket_button_quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #262626;
    font-size: 14px;
    position: absolute;
    left: -8px;
    top: -8px;
    border-radius: 90px;
    z-index: 10;
}

.basket_dialogue{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 550px;
    max-height: 800px;
    background-color: #FCFCFB;
}

.basket_dialogue hr{
    width: 100%;
}

.filled_responsive_basket_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 0px 24px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.basket_icon_container{
    position: relative;
}

