.side_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 24px;
    width: 350px;
    box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.side_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}

.side_header h2{
    padding: 24px 0px;
    z-index: 20;
    background: white;
}

.basket{
    position: sticky;
    top: 78px;
}

.empty_basket{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 0px;
    gap: 12px;
}

.filled_basket{
    position: relative;
}

.filled_basket_header{
    margin-top: 24px;
    padding-left: 24px;
}

.filled_basket_row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    padding: 0px 12px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.filled_basket_content{
    max-height: 500px;
    overflow-y: auto;
}

.calculator{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
}

.button_row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}


.order_price{
    display: flex;
    background-color: white;
    position: sticky;
    bottom: 72px;
    flex-direction: column;
    padding: 24px;
    gap: 4px;
}

.subtotal{
    display: flex;
    justify-content: space-between;
}

.delivery_cost{
    display: flex;
    justify-content: space-between;
}

.total{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}